<h2 class="text-center mt-5 mb-3">Edit Category</h2>
<div class="card">
  <div class="card-header">
    <a routerLink="/category/index"
       class="btn btn-outline-info float-right">
      View All Categories
    </a>
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="handleSave(form)">
      <div class="form-group">
        <label html="name">Name</label>
        <input class="form-control" matInput maxlength="100" formControlName="name" name="name" #nameInput trim="blur" [ngClass]="{ 'is-invalid': form.value.name==null || form.value.name.length == 0}">
      </div>
      <div class="form-group">
        <label html="description">Description</label>
        <input class="form-control" matInput maxlength="100" formControlName="description" #descriptionInput trim="blur" [ngClass]="{ 'is-invalid': form.value.description==null || form.value.description.length == 0}">
      </div>
      <!--<button [disabled]="isSaving"
          (click)="handleSave()"
          type="button"
          class="btn btn-outline-primary mt-3">
    Save Product
  </button>-->
      <button class="btn btn-outline-primary mt-3" type="submit" [disabled]="!form.valid || isSaving">Save Category</button>
    </form>
  </div>
</div>

