<div class="container">
  <h2 class="text-center mt-5 mb-3">Product</h2>
  <div class="card">
    <div class="card-header">
      <a routerLink="/product/create"
         class="btn btn-outline-primary float-right">
        Create New Product
      </a>
    </div>
    <div class="card-body">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Color</th>
            <th>Category</th>
            <th width="240px">Action</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let product of projects">
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price | currency: 'EUR'  }}</td>
            <td>{{ product.color }}</td>
            <td>{{ product.category.name}}</td>
            <td>
              <a [routerLink]="['/product', product.id, 'show']" class="btn btn-outline-info mx-1">Show</a>
              <a [routerLink]="['/product', product.id, 'edit']" class="btn btn-outline-success mx-1">Edit</a>
              <button (click)="handleDelete(product.id)"
                      class="btn btn-outline-danger mx-1">
                Delete
              </button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
